/* 리셋 코드 */
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
body{font-family:'Noto Sans KR', sans-serif; font-size: 18px;color: #333}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none}
img{border: 0; vertical-align: top}
/* 폰트
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
 */
 body{
    font-family: 'Noto Sans KR', sans-serif;
 }
.hidden{
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -1000%;
    color: #fff;
}
#skipNav{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 60;
}
#skipNav a{
    display: block;
    height: 1px;
    margin-bottom: -1px;
    font-size: 1.8em;
    color: #fff;
    overfloW: hidden;
    text-align: center;
}
#skipNav a:hover, #skipNav a:focus, #skipNav a:active{
    height: auto;
    padding: 15px 0;
    background-color: #333;
}

/* 헤더 영역 */
#headerArea{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    background: #fff;
    z-index: 1000;
}
.headerInner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerInner h1 a{
    display: block;
    width: 77px;
    height: 60px;
    text-indent: -9999px;
    background: url(./img/logo.png) no-repeat center/cover;
}
.headerInner .headBtn button{
    background: none;
    border: none;
    cursor: pointer;
}
.headerInner .headBtn button span{
    display: block;
    width: 36px;
    height: 6px;
    margin-bottom: 6px;
    background-color: #333;
    border-radius: 4px;
}
.headerInner .headBtn button span:last-child{
    margin-bottom: 0;
}
/* 푸터 영역 */
#footerArea{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
/* 메인 비쥬얼 영역 */
.main{
    position: relative;
    max-width: 1500px;
    padding: 100px 0;
    margin: 80px auto 0;
    text-align: center;
}
.main p{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 8em;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    letter-spacing: 40px;
    transition: all 1s;
}
.main p.load{
    opacity: 1;
    letter-spacing: 0;
}
.main .back{
    max-width: 1500px;
    height: 600px;
    background: url(./img/main_back.png);
}
/* intro 영역 */
#intro{
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: 'Noto Sans KR', sans-serif;
}
#intro .intro-2{
    width: 35%;
}
#intro .intro-2 img{
    width: 100%;
}
#intro .intro-1{
    width: 55%;
}
#intro .intro-1 h2{
    font-size: 1.6em;
}
#intro .intro-1 p{
    font-size: 1.125em;
    color: #666;
    margin-top: 30px;
}
#intro .intro-1 .resume{
    text-align: end;
    margin-top: 40px;
}
#intro .intro-1 a{
    font-weight: 700;
    display: inline-block;
    padding: 5px 10px;
    text-align: end;
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    transition: all .5s;
}
#intro .intro-1 a:hover{
    background: #333;
    color: #f8f8f8;
}
/* slide 영역 */
@keyframes slide {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-3931px);
    }
}
.slide{
    overflow: hidden;
    font-size: 0;
}
.slide ul{
    white-space: nowrap;
    will-change: transform;
    animation: slide 10s linear infinite;
}
.slide ul li{
    background-color: black;
    display: inline-block;
}
.slide ul li p{
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
    padding: 6px 40px;
}