@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&family=Roboto:wght@100;400;500;700&display=swap');

/* CSS Reset */

html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
body{font-family:'Noto Sans KR', sans-serif; font-size: 10px;color: #333}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none}
img{border: 0; vertical-align: top}

.hidden{
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -1000%;
    color: #fff;
}
#skipNav{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 60;
}
#skipNav a{
    display: block;
    height: 1px;
    margin-bottom: -1px;
    font-size: 1.6em;
    color: #fff;
    overfloW: hidden;
    text-align: center;
}
#skipNav a:hover, #skipNav a:focus, #skipNav a:active{
    height: auto;
    padding: 10px 0;
    background-color: rgb(10, 72, 155);
}

.wrap{
    width: 100%;
    overflow: hidden;
}
/*font-family: 'Noto Sans KR', sans-serif; font-family: 'Roboto', sans-serif; */
 /* header 공통영역 */ 
#headerArea{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 50;
    transition: background-color .3s ease-out;
}
#headerArea.on{
    background-color: #f8f8f8;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
}
.headerInner{
    width: 1200px;
    margin: 0 auto;
}
.headerInner:after{
    content: '';
    display: block;
    clear:both;
}
#headerArea h1{
    float: left;
}
#headerArea h1 a{
    display: block;
    text-indent: -1000%;
    width: 165px;
    height: 100px;
    background: url(../images/header-logo.png) no-repeat left 35px;
}
#headerArea.on h1 a{
    background: url(../images/header_logo_hover.png) no-repeat left 35px;
}
#headerArea #gnb{
    float: left;
}
#headerArea #gnb > ul{
    margin: 20px 0 0 20px;
}
#headerArea #gnb > ul::after{
    content:'';
    display: block;
    clear: both;
}
#headerArea #gnb > ul > li{
    float: left;
    position: relative;
}
#headerArea.on #gnb > ul > li:hover ul{
    background: rgba(10,72,155,.2);
}
#headerArea #gnb li h3 a{
    display: block;
    font: 700 2em 'Noto Sans KR', sans-serif;
    color: #f8f8f8;
    padding: 20px 40px 31px 40px;
    position: relative;
}
#headerArea.on #gnb li h3 a{
    color: #333;
}
#headerArea #gnb li:hover h3 a{
    color: rgb(10, 72, 155);
}
#headerArea #gnb li h3 a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(10,72,155);
    transform: scaleX(0);
}
#headerArea #gnb li:hover h3 a::before{
    transform: scaleX(1);
    transition: transform .5s ease-out;
}
#headerArea #gnb li ul{
    width: 100%;
    height: 260px;
    position: absolute;
    top: 80px;
    left: 0;
    text-align: center;
    font: 500 1.8em 'Noto Sans KR', sans-serif;
    color: #333;
    display: none;
}
#headerArea #gnb li ul a{
    display: block;
    padding: 10px 0;
    color: #333;
    transition: all .3s;
}
#headerArea #gnb li ul li:first-child a{
    padding-top: 15px;
}
#headerArea #gnb li ul a:hover{
    color: #f2f2f2;
}
#headerArea #gnb li:hover a{
    color: rgb(10,72,155);
}
#headerArea .headerInner > ul{
    float: right;
    overflow: hidden;
    margin-top: 48px;
}
#headerArea .headerInner > ul li{
    float: left;
    margin-left: 20px;
    position: relative;
}
#headerArea .headerInner > ul li:first-child{
    margin-left: 0;
}
#headerArea .headerInner > ul li:first-child::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #f8f8f8;
    right: -10px;
    top: 50%;
    margin-top: -4px;
}
#headerArea .headerInner > ul li a{
    display: block;
    font: 400 1.4em 'Roboto', sans-serif;
    color: #f8f8f8;
}
#headerArea.on .headerInner > ul li a{
    color: #333;
}
#headerArea.on .headerInner > ul li:first-child::before{
    background-color: #333;
}




/* footer 공통영역 */
#footerArea{
    background-color: rgb(10, 72, 155);
}
#footerArea .footerInner{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 50px 0;
}
#footerArea .footerInner:after{
    content: '';
    display: block;
    clear: both;
}
#footerArea .info{
    float: left;
}
#footerArea .info address,
#footerArea .info ul a,
#footerArea .info p{
    font: 400 1.6em 'Noto Sans KR', sans-serif;
    color: rgb(200,200,202);
}
#footerArea .info address a:hover,
#footerArea .info ul a:hover{
    color: #f8f8f8;
    transition: color 0.3s;
}
#footerArea .info address a{
    color: rgb(200,200,202)
}
#footerArea .info ul{
    overflow: hidden;
    margin: 30px 0 25px 0;
}
#footerArea .info li{
    float: left;
    margin-right: 30px;
    position: relative;
}
#footerArea .info li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: rgb(200,200,202);
    right: -15px;
    top: 8px;
}
#footerArea .info li:last-child{
    margin-right: 0;
}
#footerArea .info address a{
    margin-right: 30px;
}
#footerArea .info address a:last-child{
    margin-right: 0;
    position: relative;
}
#footerArea .info address a:last-child:before{
    content:'';
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: rgb(200,200,202);
    left: -15px;
    top: 8px;
}
#footerArea .info p{
    margin-top: 50px;
}

#footerArea .link{
    float: right;
}
#footerArea .family{
    width: 170px;
    background: #f8f8f8;
    position: relative;
}
#footerArea .family > a{
    display: block;
    background: #f8f8f8;
    color: #666;
    font: 400 1.6em 'Roboto', sans-serif;
    transition: all .5s ease-out;
    line-height: 30px;
    padding-left: 10px;
}
#footerArea .family > a:hover{
    background-color: rgba(0,0,0,.9);
    color: #fff
}
#footerArea .family ul{
    width: 170px;
    position: absolute;
    bottom: 30px;
    left: 0;
    display: none;
}
#footerArea .family ul a{
    display: block;
    padding: 19px 0 20px 20px;
    background-color: #fff;
    transition: all .5s ease-out;
    font: 500 1.4em 'Noto Sans KR', sans-serif;
    border-bottom: solid 1px #ccc;
    transition: all .3s;
}
#footerArea .family ul a:hover{
    background-color: rgb(10, 72, 155);
    color: #fff
}
#footerArea .sns{
    overflow: hidden;
    margin-top: 25px;
}
#footerArea .sns li{
    float: left;
}
#footerArea .sns a{
    display: block;
    padding: 0 10px;
}
#footerArea .sns li:first-child a{
    padding: 0 10px 0 0;
}
#footerArea .sns li:last-child a{
    padding: 0 0 0 10px;
}
#footerArea .sns a i{
    font-size: 3em;
    color: rgb(200,200,202);
    transition: color 0.3s;
}
#footerArea .sns a:hover i{
    color: #f8f8f8;
}
#footerArea .topMove{
    position: fixed;
    bottom: 130px;
    left: 50%;
    margin-left: 700px;
    width: 60px;
    height: 60px;
    background-color: rgb(10,72,155);
    display: block;
    text-indent: -9999px;
    background: url(../images/topMove.jpg);
    border-radius: 50%;
    display: none;
    transform: rotateZ(0);
    transition: all .5s;
}
#footerArea .topMove:hover{
    transform: rotateZ(360deg);
}
.modal_box{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%; 
    background-color: rgba(10,72,155,.1);
    display: none;
}
.popup{
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -300px; 
    width: 600px;
    height: 100%;
    background: #fff;
    box-shadow: 1px 3px 7px 0px #666;
    z-index: 60;
    box-sizing: border-box;
    border: solid 10px rgba(10,72,155,.7);
    overflow:auto;
    display: none;
}
.popup h3{
    font: 700 3em 'Noto Sans KR', sans-serif;
    padding-left: 20px;
    margin-top: 20px;
}
.popup h3 span{
    font: 400 14px 'Noto Sans KR', sans-serif;
    display: block;
    margin-top: 15px;
}
.popup dl{
    padding: 0 40px 0 20px;
    margin-top: 30px;
}
.popup dl dt{
    font: 700 2em 'Noto Sans KR', sans-serif;
    color: rgb(10,72,155);
    margin-bottom: 20px;
}
.popup dl dd:nth-of-type(1){
    font: 500 1.4em 'Noto Sans KR', sans-serif;
    margin-bottom: 20px;
}
.popup dl dd{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.popup .close_btn{
    position: absolute;
    top: 25px;
    right: 25px; 
    display: block;
    text-indent: -999px;
    overflow: hidden;
    width: 32px; 
    height: 32px;
    padding: 9px 9px;
    background: url(../images/close-btn.png);
}
.pop_btn{
    position:fixed;
    width: 1404px;
    z-index: 60;
    top:50%;
    left: 50%;
    height: 0;
    margin-top: -100px;
    font-size: 100px;
    display: none;
}
.pop_btn a{
    display: block;
    position: absolute;
    top:30px;
    left:0;
    color: #fff;
    opacity: .4;
    transition: all .5s;
    width: 120px;
    height: 120px;
    color: black;
    
}
.pop_btn a:hover{
    opacity: .9;
}
.pop_btn .pre{
    margin-left: -500px;
}
.pop_btn .nexto{
    margin-left: 430px;
}













