/* 콘텐츠 에어리어 */
#content{
    padding: 100px 0; 
    background-color: #111;
    text-align: center;
}
#content h2{
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    color: #9a6f53;
}
#content > p{
    margin: 50px 0;
} 
#content p{
    font-size: 1.4em;
    color: #c4b998;
    font-family: 'Nanum Myeongjo', serif;
}
.grid-image-item,.grid--images .grid-sizer {
    width: 25%;
}
.grid-image-item {
  float: left;
  margin-bottom: 10px;
}
.grid-image-item img{
    border-radius: 3%;
    display: block;
    width: 96%;
    margin: 10px auto;
    transition: all .5s;
    transform: rotateY(0);
}
#content ul li:hover img{
    transform: rotateY(180deg);
    filter: grayscale(1);
}
.grid-image-item h3{
    width: 96%;
    margin: 20px auto;
    font-size: 1.6em;
    font-family: 'Roboto Slab', serif;
    color: #9a6f53;
}
#content .grid-image-item p{
    width: 96%;
    margin: 0 auto;
    font-size: 1.2em;
}

/* 일반 pc */
@media screen and (max-width:1280px) {
    .grid-image-item,
    .grid--images .grid-sizer {
        width: 33.33%;
    }
 }
 
 /* 소형 테블릿 */
 @media screen and (max-width:768px) {
    .grid-image-item,
    .grid--images .grid-sizer {
        width: 50%;
    }
 }
