/* 메인 영역 */
.videoBox{
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
 }
#imgBG{
    position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; 
  transform:translateX(-57%) translateY(-35%);
}
.videoBox strong{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #f8f8f8;
    font-size: 5em;
    font-family: "Thunderbolt";
    animation: letter 1s ease-out 1 forwards;
}
@keyframes letter {
    from{
        letter-spacing: 400px;
        opacity: 0;
    }
    to{
        letter-spacing: 5px;
        opacity: 1;
    }
}
.down{
   display: block;
   width: 95px;
   height: 94px;
   position: absolute; 
    left:50%;
   margin-left: -47px;
   bottom: 5%;
   background: url(../images/shurima.png) no-repeat center/cover;
    animation:ani 1s infinite  alternate;
}
@keyframes ani {
    0% {
      transform: translateY(20px);    
   }
    100% {
      transform:translateY(0);
   }
}


@media screen and (max-width:768px) {
    .videoBox strong{
        font-size: 3em;
    }
 }