/* 메인 이미지 조정 */
#imgBG{
    position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; 
  transform:translateX(-50%) translateY(-50%);
  z-index: -100;
}
/* 콘텐츠 에어리어 */
#content{
    padding-top: 100px;
    background-color: rgba(0,0,0,.7);
}
#content .trailer{
    text-align: center;
}
#content .trailer h2{
    font-size: 2.4em;
    background: linear-gradient(180deg, rgba(154,111,83,1) 0%, rgba(179,143,105,1) 50%, rgba(198,159,122,1) 100%);
    font-family: 'Roboto Slab', serif;
    -webkit-background-clip: text;
    color: transparent; 
}
#content .trailer ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 83.33%;
    margin: 100px auto 0;
}
#content .trailer ul li{
    width: 45%;
    perspective: 800px;
    margin-bottom: 100px;
}
#content .trailer ul li:nth-child(odd){
    padding-top: 200px;
}
#content .trailer ul li a{
    position: relative;
    border: solid 10px black;
    transform: translateZ(0) rotateY(15deg);
    overflow: hidden;
}
#content .trailer ul li:nth-child(even) a{
    transform: translateZ(0) rotateY(-15deg);
}
#content .trailer ul li a::after{
    content: '';
    width: 76px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -38px;
    opacity: 0;
    background: url(../images/trailer/trailer_ytube.png) no-repeat center/cover;
}
#content .trailer ul li a:hover::after{
    opacity: 1;
    transition: all .5s;
 }
#content .trailer ul li p{
    width: 60%;
   padding: 5px 10px;
   color: #ede0ce;
   background-color: #322332;
   border: solid 3px #ede0ce;
   margin: 15px auto 0;
    transform: translateZ(0) rotateY(15deg);
}
#content .trailer ul li:nth-child(even) p{
    transform: translateZ(0) rotateY(-15deg);
}
#content .trailer ul li img{
    width: 100%;
    transition: all .5s;
    transform: scale(1);
}
#content .trailer ul li a:hover img{
    transform: scale(1.1);
 }

#content .ost{
    background-color: rgb(237, 224, 206);
}
#content .ost .atc{
    text-align: center;
    color: #f8f8f8;
    height: 300px;
    background: url(../images/trailer/trailer_atc.png) no-repeat top center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#content .ost .atc h2{
    font-size: 2.4em;
    font-family: 'Roboto Slab', serif;
}
#content .ost .atc p{
    font-size: 1.4em;
}
#content .ost .youtube{
    color: #000;
    width: 45%;
    text-align: center;
}
#content .ost .youtube .youtubeInner{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    margin: 0 auto;
    background-color: #333;
}
#content .ost .youtube .youtubeInner iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#content .ost .youtube dl dt{
    font-weight: 700;
    font-size: 1.6em;
    margin: 40px 0 20px 0;
}
#content .ost .youtube dl dt{
    font-size: 1.2em;
}
#content .move{
    display: flex;
    justify-content: space-between;
    width: 83.33%;
    margin: 0 auto;
    padding: 100px 0;
}
#content .ost .move ul{
    width: 45%;
    position: relative;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
#content .ost .move ul li{
    width: 33%;
    background-color: #f7f7f7;
    border: solid 3px transparent;
    border-radius: 50%;
    box-sizing: border-box;
}
#content .ost .move ul li:hover{
    border: solid 3px #333;
    transition: all .5s;
}
#content .ost .move ul li dl{
    text-align: center;
}
#content .ost .move ul li dt{
    margin: 30% 0 10% 0;
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
}

/* 일반 pc */
@media screen and (max-width:1280px) {
    #content .trailer ul li{
        width: 49%;
    }
    #content .move{
        width: 96%;
    }
 }
 /* 태블릿 */
@media screen and (max-width:1024px) {
    #content .trailer ul{
        flex-direction: column;
    }
    #content .trailer ul li{
        width: 100%;
    }
    #content .trailer ul li:nth-child(odd){
        padding-top: 0;
    }
    #content .trailer ul li:last-child{
        display: none;
    }
    #content .trailer ul li a::after{
        opacity: 1;
    }
    #content .move{
        flex-direction: column;
    }
    #content .ost .youtube{
        width: 100%;
    }
    #content .ost .move ul{
        width: 100%;
        margin-top: 50px;
    }
    #content .ost .move ul li{
        width: 30%;
    }
}
/* 소형 테블릿 */
@media screen and (max-width:768px) {
 
}
 /* 핸드폰 */
 @media screen and (max-width:640px) {
    #content .ost .move ul li{
        width: 33%;
    }
 }
