.contentArea{
  margin: 100px 0;
}
.contentArea .list_search{
  display: flex;
  justify-content: space-between;
  font-size: 1.8em;
}
.contentArea .list_search .list_search1 span{
  color: rgb(10,72,155)
}
.contentArea .list_search .list_search2 select{
  padding: 5px 15px 5px 5px;
  outline: none;
  font-size: 1em;
  border: solid 1px #ccc;
}
.contentArea .list_search .list_search2 input{
  padding: 6px 0 6px 5px;
  outline: none;
  color: #666;
  line-height: 20px;
  font-size: 1em;
  border: solid 1px #ccc;
}
.contentArea .list_search .list_search2 button{
  font-size: 1.1em;
  color: #f8f8f8;
  background-color: rgb(10,72,155);
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}
.contentArea .list_search .list_count{
  display: flex;
}
.contentArea .list_search .list_count .css_change{
  display: flex;
}
.contentArea .list_search .list_count .css_change li{
  width: 30px;
  height: 30px;
  border:solid 1px #ccc;
  border-radius: 8px;
  color: #ccc;
  text-align: center;
  align-self: center;
  margin-right: 10px;
}
.contentArea .list_search .list_count .css_change li a{
  display: block;
  transition: all .5s;
  color: #ccc;
  height: 30px;
  border-radius: 8px;
}
.contentArea .list_search .list_count .css_change li:hover a{
  color: #f8f8f8;
  background-color: rgb(10,72,155);
}
.contentArea .list_search .list_count select{
  font-size: 1rem;
  padding: 8px 0 8px 3px;
  outline: none;
  border: solid 1px #ccc;
}
.contentArea .newsContent{
  margin: 50px 0;
}
.contentArea .newsContent.other{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  padding: 20px 0;
}
.contentArea .newsContent.other > li{
  width: 30%;
}
.contentArea .newsContent a{
  display: block;
  padding: 20px 0;
  border-bottom: solid 1px #ccc;
  transition: all .5s;
}
.contentArea .newsContent li:first-child a{
  border-top: solid 2px #333;
}
.contentArea .newsContent.other li:first-child a{
  border-top: none;
}
.contentArea .newsContent li:last-child a{
  border-bottom: solid 2px #333;
}
.contentArea .newsContent.other li:last-child a{
  border-bottom: solid 1px #ccc;
}
.contentArea .newsContent a::after{
  content: '';
  display: block;
  clear: both;
}
.contentArea .newsContent .newsInner{
  float: left;
  width: 65%;
}
.contentArea .newsContent.other .newsInner{
  float: none;
  width: auto;
  padding: 10px 20px 0 20px;
}
.contentArea .newsContent .newsInner span{
  font-size: 1.6em;
  color: #333;
}
.contentArea .newsContent .newsInner h3{
  font-size: 2.4em;
  margin: 10px 0 20px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.contentArea .newsContent.other .newsInner h3{
  padding-right: 20px;
}
.contentArea .newsContent .newsInner h3 span{
  font-size: 1.2rem;
  color: rgba(255,0,0,.6);
}
.contentArea .newsContent.other .newsInner h3 span{
  position: absolute;
  right: 0;
  top: 0;
}
.contentArea .newsContent.other .newsInner h3{
  font-size: 1.8em;
}
.contentArea .newsContent .newsInner ul{
  display: flex;
}
.contentArea .newsContent .newsInner ul li{
  margin-right: 15px;
  color: #666;
  font-size: 1.4em;
}
.contentArea .newsContent .newsInner ul li:last-child{
  margin-right: 0;
}
.contentArea .newsContent .newsInner p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8em;
  color: #666;
  margin-top: 30px;
}
.contentArea .newsContent.other .newsInner p{
  -webkit-line-clamp: 2;
}
.contentArea .newsContent .imgH{
  overflow: hidden;
  float: right;
  width: 25%;
}
.contentArea .newsContent.other .imgH{
  float: none;
  width: auto;
}
.contentArea .newsContent img{
  width: 100%;
  transform: scale(1);
  transition: all .5s;
}
.contentArea .newsContent li:hover .imgH img{
  transform: scale(1.1);
}
.contentArea #page_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentArea #page_button #page_num{
  font-size: 1.8em;
  color: #666;
  margin-top: 30px;
}
.contentArea #page_button #page_num span{
  display: inline-block;
  margin: 0 10px;
}
.contentArea #page_button #page_num b{
  color: rgb(10,72,155);
  font-weight: 400;
}
.contentArea #page_button #button{
  font-size: 1.6em;
  align-self: flex-end;
}
.contentArea #page_button #button a{
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  width: 50px;
  border:solid 1px #ccc;
  color: #333;
  border-radius: 5px;
  transition: all .3s;
}
.contentArea #page_button #button a:hover{
  background-color: rgb(10,72,155);
  color: #f8f8f8;
  border:#333 solid 1px rgb(10,72,155)
}