.contentArea p{
  padding: 100px 50px;
  line-height: 2em;
}
.contentArea .ripple_output{
  font-size: 1.4em;
  padding: 20px 5%;
  box-sizing: border-box;
  margin: 20px 0;
}
.contentArea .ripple_output li{
  margin-bottom: 20px; 
}
.contentArea .ripple_output li:last-child{
  margin-bottom: 0;
}
.contentArea .ripple_output dl{
  border-bottom: solid 1px #ccc;
}
.contentArea .ripple_output dt{
  color: #666;
  display: flex;
  justify-content: flex-start;
}
.contentArea .ripple_output dt span{
  display: block;
  margin-left: 15px;
}
.contentArea .ripple_output dt span a{
  color: rgba(255,0,0,.6)
}
.contentArea .ripple_output dd{
  margin: 10px 0; 
  font-size: 1.3rem;
}
.contentArea .ripple_input{
  background-color: #f8f8f8;
  padding: 20px 5%;
  box-sizing: border-box;
}
.contentArea .ripple_input::after{
  content: '';
  display: block;
  clear: both;
}
.contentArea .ripple_input span{
  display: block;
  font-size: 1.4em;
  color: #666;
}
.contentArea .ripple_input textArea{
  width: 98%;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  font-size: 1.2em;
}
.contentArea .ripple_input textArea:focus{
  box-shadow: 1px 1px 8px 2px rgba(10,72,155,.3);
}
.contentArea .ripple_input button{
  width: 20%;
  width: 85px;
  height: 30px;
  background-color: rgb(10,72,155);
  color: #f8f8f8;
  border: solid 1px #fff;
  cursor: pointer;
  transition: all .3s;
  float: right;
}
.contentArea .ripple_input button:hover{
  background-color: rgb(105, 178, 226);
}