.contentArea .img_plus{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  padding: 30px 0;
}
.contentArea .img_plus li{
  width: 33.33%;
}
.contentArea .img_plus li div:first-child{
  margin-bottom: 15px;
}
.contentArea .img_plus li div:first-child input{
  display: none;
}
.contentArea .img_plus li div:first-child label{
  display: inline-block;
  width: 80px;
  line-height: 30px;
  background-color: rgb(10,72,155);
  color: #f8f8f8;
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
}
.contentArea .img_plus li div:first-child label + span{
  display: block;
  font-size: 1.6em;
  padding: 5px 0 5px 15px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px 2px rgba(10,72,155,.3);
  margin: 10px 10px 0 0;
}
.contentArea .delete_ok{
  padding-left: 20px;
}
.contentArea .delete_ok p{
  font-size: 1.4em;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: red;
}
.contentArea .delete_ok input{
  width: auto;
  margin:0 5px 0 0;
  padding-top: 3px;
}
.contentArea .delete_ok span{
  font-size: 1.6em;
}
.contentArea .write_button li a{
  display: block;
}