.contentArea{
  margin: 100px 0;
}
.contentArea .list_search{
  display: flex;
  justify-content: space-between;
  font-size: 1.8em;
}
.contentArea .list_search .list_search1 span{
  color: rgb(10,72,155)
}
.contentArea .list_search .list_search2 select{
  padding: 5px 15px 5px 5px;
  outline: none;
  font-size: 1em;
  border: solid 1px #ccc;
}
.contentArea .list_search .list_search2 input{
  padding: 6px 0 6px 5px;
  outline: none;
  color: #666;
  line-height: 20px;
  font-size: 1em;
  border: solid 1px #ccc;
}
.contentArea .list_search .list_search2 button{
  font-size: 1.1em;
  color: #f8f8f8;
  background-color: rgb(10,72,155);
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}
.contentArea .list_search .list_count select{
  font-size: 1rem;
  padding: 8px 0 8px 3px;
  outline: none;
  border: solid 1px #ccc;
}
.contentArea table{
  width: 100%;
  margin-top: 30px;
  font-size: 1.6em;
}
.contentArea table thead{
  background-color: #f0f0f0;
}
.contentArea table tbody tr:hover{
  background-color: #f8f8f8;
}
.contentArea table th,
.contentArea table td{
  border-top: solid 1px #ccc;
  padding: 25px 20px;
  text-align: center;
}
.contentArea table th:nth-child(1){
  width: 8%;
}
.contentArea table th:nth-child(2){
  width: 57%;
}
.contentArea table th:nth-child(3){
  width: 10%;
}
.contentArea table th:nth-child(4){
  width: 15%;
}
.contentArea table th:nth-child(5){
  width: 10%;
}
.contentArea table tbody tr td:nth-child(2){
  text-align: start;
}
.contentArea #page_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentArea #page_button #page_num{
  font-size: 1.8em;
  color: #666;
  margin-top: 30px;
}
.contentArea #page_button #page_num span{
  display: inline-block;
  margin: 0 10px;
}
.contentArea #page_button #page_num b{
  color: rgb(10,72,155);
  font-weight: 400;
}
.contentArea #page_button #button{
  font-size: 1.6em;
  align-self: flex-end;
}
.contentArea #page_button #button a{
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  width: 50px;
  border:solid 1px #ccc;
  color: #333;
  border-radius: 5px;
  transition: all .3s;
}
.contentArea #page_button #button a:hover{
  background-color: rgb(10,72,155);
  color: #f8f8f8;
  border:#333 solid 1px rgb(10,72,155)
}