.contentArea{
    margin: 100px 0;
}
.contentArea .head{
    border-top: solid 2px #333;
    border-bottom:  solid 1px #ccc;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px 30px;
}
.contentArea .head h3{
    font-size: 2.4em;
}
.contentArea .head ul{
    display: flex;
    font-size: 1.6em;
    color: #666;
    position: relative;
    margin-top: 20px
}
.contentArea .head ul li:first-child{
    margin-right: 20px;
}
.contentArea .head ul li:last-child{
    position: absolute;
    right: 0;
}
.contentArea p{
    padding: 20px;
    font-size: 1.8em;
    border-bottom: solid 1px #ccc;
}
.contentArea .view_button{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.contentArea .view_button li{
    margin-right: 15px;
}
.contentArea .view_button li:last-child{
    margin-right: 0;
}
.contentArea .view_button a{
    display: inline-block;
    width: 70px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #ccc;
    box-sizing: border-box;
    color: #333;
    font-size: 1.6em;
    border-radius: 5px;
    transition: all .3s;
}
.contentArea .view_button a:hover{
    border: solid 1px rgb(10, 72, 155);
    background-color: rgb(10, 72, 155);
    color: #f8f8f8;
}