// 변수
$font : 18px;

// 반응형 화면 크기
$mobile: 640px;
$tablet: 1023px;
$desktop: 1200px;
$full: 1920px;
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

@mixin tablet{
  @media (max-width: $tablet){
    @content;
  } 
}

@mixin desktop{
  @media(max-width: $desktop){
    @content;
  }
}

@mixin full{
  @media (max-width: $full){
    @content;
  }
}