#content .contentArea{
    position: relative;
}
#content .contentArea img{
    position: absolute;
    left: 200px;
    top: 50%;
    margin-top: -140px;
    opacity: 0;
}
#content .contentArea img.off.onslide{
    left: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea ul{
    overflow: hidden;
    margin: 100px 0;
}
#content .contentArea ul li{
    width: 600px;
    position: relative;
    top: 100px;
    opacity: 0;
}
#content .contentArea ul li.off.onslide{
    top: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea ul li.off.onslide:nth-child(2n){
    transition-delay: .2s;
}
#content .contentArea ul li:nth-child(2n){
    float: right;
    padding-left: 50px;
    box-sizing: border-box;
}
#content .contentArea ul li:nth-child(2n-1){
    float: left;
}
#content .contentArea ul li:nth-child(1),
#content .contentArea ul li:nth-child(2){
    margin-bottom: 450px ;
}
#content .contentArea ul li p{
    font: 500 3em 'Noto Sans KR', sans-serif;
    color: #333;
    margin-bottom: 30px;
}
#content .contentArea ul li p strong{
    display: block;
}
#content .contentArea ul li span{
    font: 400 1.8em 'Noto Sans KR', sans-serif;
    color: #0a489b;
}
#content .contentArea ul li dl{
    margin-bottom: 50px;
    background: url(../images/content4/picto-1.png) no-repeat 500px center;
}
#content .contentArea ul li dl:nth-child(3){
    margin-top: 30px;
}
#content .contentArea ul li dl dt{
    font: 400 2.4em 'Noto Sans KR', sans-serif;
    color: #333;
}
#content .contentArea ul li dl dd{
    font: 400 1.8em 'Noto Sans KR', sans-serif;
    color: #666;
}

#content .contentArea ul li:first-child dl:nth-child(4){
    background: url(../images/content4/picto-2.png) no-repeat 504px center;
}
#content .contentArea ul li:first-child dl:nth-child(5){
    background: url(../images/content4/picto-3.png) no-repeat 508px center;
}
#content .contentArea ul li:first-child dl:nth-child(6){
    background: url(../images/content4/picto-4.png) no-repeat 508px center;
}
#content .contentArea ul li:nth-child(2) dl:nth-child(3){
    background: url(../images/content4/picto-5.png) no-repeat 500px center;;
}
#content .contentArea ul li:nth-child(2) dl:nth-child(4){
    background: url(../images/content4/picto-6.png) no-repeat 498px center;;
}
#content .contentArea ul li:nth-child(2) dl:nth-child(5){
    background: url(../images/content4/picto-7.png) no-repeat 503px center;;
}
#content .contentArea ul li:nth-child(2) dl:nth-child(6){
    background: url(../images/content4/picto-8.png) no-repeat 502px center;;
}
#content .contentArea ul li:nth-child(3) dl:nth-child(3){
    background: url(../images/content4/picto-9.png) no-repeat 500px center;;
}
#content .contentArea ul li:nth-child(3) dl:nth-child(4){
    background: url(../images/content4/picto-10.png) no-repeat 503px center;;
}
#content .contentArea ul li:nth-child(3) dl:nth-child(5){
    background: url(../images/content4/picto-11.png) no-repeat 502px center;;
}
#content .contentArea ul li:nth-child(3) dl:nth-child(6){
    background: url(../images/content4/picto-12.png) no-repeat 502px center;;
}
#content .contentArea ul li:nth-child(4) dl:nth-child(3){
    background: url(../images/content4/picto-13.png) no-repeat 500px center;;
}
#content .contentArea ul li:nth-child(4) dl:nth-child(4){
    background: url(../images/content4/picto-14.png) no-repeat 498px center;;
}
#content .contentArea ul li:nth-child(4) dl:nth-child(5){
    background: url(../images/content4/picto-15.png) no-repeat 503px center;;
}
#content .contentArea ul li:nth-child(4) dl:nth-child(6){
    background: url(../images/content4/picto-16.png) no-repeat 502px center;;
}