/* 서브페이지 공통영역 */
@keyframes main_scale{
    from{
      transform: scale(1);
    }
    to{
      transform: scale(.96);
    }
  }
.main{
  width: 2000px;
  height: 400px;
  position: relative;
  left: 50%;
  margin-left: -1000px;;
  overflow: hidden;
}
.main h3{
  font: 500 4.8em 'Roboto', sans-serif;
  color: #f8f8f8;
  position: absolute;
  left: 400px;
  top: 270px;
}
.main img{
  position: relative;
  bottom: 100px;
  animation: main_scale 3s 1 forwards;
}
.subNav{
  border-bottom: solid 1px #ccc;
}
.subNav ul:after{
  content:'';
  display: block;
  clear: both;
}
.subNav ul li:first-child{
  border-left: solid 1px #ccc;
}
.subNav ul li[class="current"]{
  position: relative;
}
.subNav ul li.current::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -119px;
  width: 238px;
  height: 1px;
  background-color: #fff;
}
.subNav ul li a{
  display: block;
  padding: 20px 0;
  font: 500 2em 'Noto Sans KR', sans-serif;
  transition: color 0.3s;
}
.subNav ul li a:hover{
  color: rgb(10,72,155);
}
.subNav ul li .current{
  font-weight: 700;
  color: rgb(10,72,155);
}
#content{
  width: 1200px;
  margin: 0 auto;
}
#content .titleArea{
  text-align: center;
}
#content .titleArea .lineMap{
  margin: 30px 0 0 995px;
  font: 500 1.6em 'Noto Sans KR', sans-serif;
  color: #999;
}
#content .titleArea .lineMap span:first-child{
  display: inline-block;
  width: 16px;
  height: 24px;
  text-indent: -9999px;
  background: url(../images/home.png) no-repeat center center;
}
#content .titleArea h2{
  font: 700 5em 'Noto Sans KR', sans-serif;
  margin-top: 100px;
  position: relative;
  top: 80px;
  opacity: 0;
}
#content .titleArea h2.off.onslide{
  top: 0;
  opacity: 1;
  transition: all .5s;
}
#content .titleArea h2::after{
  content: '';
  position:  absolute;
  width: 2px;
  height: 60px;
  background-color: rgb(10,72,155);
  bottom: -180px;
  left: 50%;
  margin-left: -1px;
  opacity: 0;
}
#content .titleArea h2.off.onslide::after{
  bottom: -100px;
  opacity: 1;
  transition: all .5s;
}
#content .titleArea p{
  font: 500 2.4em 'Noto Sans KR', sans-serif;
  color: #666;
  margin-top: 240px;
  opacity: 0;
}
#content .titleArea p.off.onslide{
  margin-top: 160px;
  opacity: 1;
  transition: all .5s;
}
#content .titleArea P:last-child{
  margin-top: 150px;
}
#content .titleArea P.off.onslide:last-child{
  margin-top: 70px;
}