#content .contentArea ol{
    background-color: #f9f9f9;
    overflow: hidden;
    padding: 40px 50px 10px 50px;
    margin-top: 100px;
    position: relative;
    top: 100px;
    opacity: 0;
}
#content .contentArea ol.off.onslide{
    top: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea ol li{
    float: left;
    margin-bottom: 30px;
}
#content .contentArea ol li a{
    display: block;
    font: 500 1.8em'Noto Sans KR', sans-serif;
    color: #666;
    width: 270px;
    padding: 20px 0;
    transition: all .3s;
}
#content .contentArea ol li a:hover{
    color: rgb(10,72,155);
}
#content .contentArea ul{
    margin-top: 100px;
    position: relative;
    top: 100px;
    opacity: 0;
}
#content .contentArea ul.off.onslide{
    top: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea ul li{
    margin-bottom: 100px;
}
#content .contentArea ul li dt{
    font: 500 1.8em 'Noto Sans KR', sans-serif;
    color: #333;
    padding-left: 20px;
    margin-bottom: 50px;
}
#content .contentArea ul li dt h3{
    font-size: 22px;
    color: rgb(10,72,155);
    margin-left: -20px;
    padding-bottom: 20px;
}
#content .contentArea ul li dd{
    font: 500 2em 'Noto Sans KR', sans-serif;
    color: #666;
    padding-left: 50px;
    margin-bottom: 30px;
}
#content .contentArea ul li dd span{
    display: block;
    color: #333;
    margin-left: -20px;
    padding-bottom: 5px;
}