body{
  background-color: #f8f8f8;
}
header h1 a{
  display: block;
  width: 165px;
  height: 39px;
  text-indent: -9999px;
  background: url(../../common/images/header_logo_hover.png) no-repeat center/cover;
  margin: 50px auto 20px;
}
article{
  width: 460px;
  margin:50px auto 100px;
  padding: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
}
article h2{
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.8em;
  color: #666;
}
form #id_pw_input input{
  width: 100%;
  padding: 18px 12px;
  border: 1px solid #e5e8eb;
  background-color: #fff;
  font-size: 1.6em;
  font-weight: 400;
  outline: 0;
  transition: border-color .15s linear;
  box-sizing: border-box;
  color: #666;
  box-shadow: inset 1px 1px 5px 2px rgba(0,0,0,.2);;
}
form #id_pw_input input::placeholder{
  color: #c0c0c0;
  font-weight: 500;
}
form #id_pw_input li:first-child input{
  margin-bottom: 10px;
}
form #login_button{
  margin: 40px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: solid 1px #ccc;
}
form #login_button button{
  display: inline-block;
  width: 100%;
  background-color: rgb(10,72,155);
  color: #f8f8f8;
  border: none;
  padding: 10px 0;
  text-align: center;
  font-size: 2.4em;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}
form > ul{
  display: flex;
  font-size: 1.6em;
}
form > ul li{
  margin-right: 15px;
  position: relative;
}
form > ul li::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  right: -8px;
  top: 7px;
  background-color: #ccc;
}
form > ul li:last-child::before{
  display: none;
}
form > ul a{
  color: #666;
}