/* subNav 영역 */
.subNav ul li{
    width: 25%;
}
/* 본문 콘텐츠 영역 */
#content .moveMenu{
    width: 80%;
    position: relative;
    border: solid 1px #ccc;
    margin: 50px auto;
}
#content .moveMenu p{
    color: #f8f8f8;
    font-size: 1.2em;
    background-color: rgb(10,72,155);
    padding: 10px 5%;
}
#content .moveMenu ul{
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    z-index: 5;
    display: none;
}
#content .moveMenu ul li{
    color: #666;
    font-size: 1.2em;
    background-color: #fff;
}
#content .moveMenu ul li a{
    padding: 10px 5%;
}
#content .textArea{
    position: relative;
    margin-bottom: 100px;
}
#content .textArea img{
    width: 100%;
}
#content .textArea div{
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: #017ce3;
    color: #f8f8f8;
    padding: 10px 5%;
    border-radius: 10px 0 0 0;
}
#content .textArea div span{
    color: rgba(248,248,248,.3);
}
#content .textArea div h3{
    margin: 10px 0 20px 0;
    font-size: 1.4em;
}
#content .textArea div p{
    color: rgba(248,248,248,.7);
}
#content > ul li{
    display: none;
}
#content ul li dl{
    padding: 0 10%;
    margin-bottom: 30px;
}
#content ul li dt{
    font-size: 1.6em;
    color: #333;
    font-weight: 700;
}
#content ul li dd{
    color: #666;
    font-size: 1.2em;
    margin: 20px 0;
}
#content ul li dd span{
    color: #017ce3;
    font-size: 1rem;
    display: inline-block;
    margin-right: 15px;
}