/* subNav 영역 */
.subNav ul li{
    width: 25%;
}
/* 본문 콘텐츠 영역 */
#content ul:nth-of-type(1) li{
    text-align: center;
    margin: 40px 0;
}
#content ul:nth-of-type(1) li dt{
    color: rgb(10,72,155);
    font-weight: 700;
    font-size: 1.8em;
    margin: 20px 0 10px 0;
}
#content ul:nth-of-type(1) li dd{
    font-weight: 500;
    color: #666;
    font-size: 1em;
}
#content ul:nth-of-type(2) li{
    padding: 10px;
    text-align: center;
}
#content ul:nth-of-type(2) li img{
    width: 100%;
}
#content ul:nth-of-type(2) li dl{
    padding: 20px 10px 10px 10px;
    text-align: justify;
}
#content ul:nth-of-type(2) li dt{
    font-weight: 700;
    color: rgb(10,72,155);
    font-size: 1.6em;
    position: relative;
}
#content ul:nth-of-type(2) li dt:after{
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 0.85rem;
    color: #666;
}
#content ul:nth-of-type(2) li:first-child dt::after{
    content: '사랑받는 기업';
}
#content ul:nth-of-type(2) li:last-child dt::after{
    content: '사랑주는 기업';
}
#content ul:nth-of-type(2) li dd{
    color: #666;
    font-size: 1em;
    margin-top: 30px;
}