/* subNav 영역 */
.subNav ul li{
    width: 25%;
}
/* 본문 콘텐츠 영역 */
#content .law{
    margin: 50px 0;
}
#content .law h3{
    font-size: 2em;
    color: #333;
    font-weight: 700;
    padding-left: 5%;
}
#content .law ul li{
    background-color: #f8f8f8;
    padding: 10px 5%;
    margin-top: 20px;
}
#content .law ul li h4{
    color: #333;
    font-weight: 700;
    font-size: 1.4em;
}
#content .law ul li h4 span{
    color: rgb(10,72,155);
}
#content .law ul li p{
    color: #666;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 15px;
}
#content .great{
    position: relative;
}
#content .great .greatTitle{
    display: flex;
    align-items: center;
    padding: 0 5%;
}
#content .great .greatTitle h3{
    font-size: 1.6em;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-right: 5%;
}
#content .great .greatTilte h3 span{
    display: block;
}
#content .great .greatTitle p{
    color: #666;
    text-align: justify;
}
#content .great ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
#content .great ul li{
    width: 35%;
    background-color: #f8f8f8;
    margin-bottom: 50px;
    padding: 10px 5%;
}
#content .great ul h4{
    color: #333;
    font-weight: 500;
    font-size: 1.2em;
}
#content .great ul p{
    color: #666;
    margin-top: 8px;
}