/* subNav 영역 */
.subNav ul li{
    width: 25%;
}
/* 본문 콘텐츠 영역 */
#content{
    padding: 0 5%;
}
#content h3{
    font-size: 2em;
    color: #333;
    font-weight: 700;
}
#content .research{
    margin: 50px 0;
}
#content .research p{
    font-weight: 500;
    color: #666;
    margin-top: 20px;
    line-height: 1.6em;
    text-align: justify;
}
#content .research ul{
    margin-top: 40px;
}
#content .research ul li:first-child{
    margin-bottom: 30px;
}
#content .research ul li h4{
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
}
#content .research ul li div{
    display: flex;
    justify-content: space-between;
}
#content .research ul li div img{
    width: 48%;
}
#content .research ul li p{
    font-size: 0.9em;
    color: #666;
    text-align: justify;
}
#content > p{
    margin: 20px 0 50px 0;
}