/* subNav 영역 */
.subNav ul li{
    width: 33.33%;
}
/* 본문 콘텐츠 영역 */
#content > p{
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.4em;
    color: #333;
    text-align: center;
}
#content > p span{
    color: rgb(10,72,155);
    display: inline-block;
    margin-left: 8%;
}
#content .back{
    margin: 50px 0;
    padding: 20px 15%;
    position: relative;
}
#content .back .backInner{
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../images/sub3/content-visual.jpg) no-repeat center/cover;
}
#content .back li{
    border: solid 10px #017ce3;
    border-radius: 50%;
    font-size: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
}
#content .back li:last-child{
    margin-bottom: 0;
}
#content .back li p{
    font-size: 1rem;
    color: #666;
    margin-top: 15px;
    font-weight: 700;
}