/* subNav 영역 */
.subNav ul li{
    width: 33.33%;
}
/* 본문 콘텐츠 영역 */
#content .introduce{
    margin: 50px 0;
}
#content .introduce p{
    color: #333;
    font-size: 1.4em;
    font-weight: 700;
    padding-left: 5%;
    margin-bottom: 30px;
}
#content .introduce p span{
    display: block;
}
#content .introduce ul{
    display: flex;
    justify-content: space-between;
    color: #333;
    font-weight: 500;
}
#content .introduce ul li{
    width: 30%;
    text-align: center;
    font-size: 1.2em;
    padding-top: 90px;
}
#content .introduce ul li:nth-child(1){
    background: url(../images/sub3/picto_black_1.jpg) no-repeat top center;
}
#content .introduce ul li:nth-child(2){
    background: url(../images/sub3/picto_black_2.png) no-repeat top;
}
#content .introduce ul li:nth-child(3){
    background: url(../images/sub3/picto_black_3.png) no-repeat top center;
}
#content .contents{
    margin-bottom: 50px;
}
#content .contents h3{
    font-size: 2em;
    color: #f8f8f8;
    font-weight: 700;
    padding-left: 5%;
    margin-bottom: 20px;
}
#content .contents li:nth-child(2) h3{
    margin-top: 20px;
    color: #333;
}
#content .contents li{
    padding: 20px 0;
}
#content .contents > ul > li{
    background-color:#017ce3;
}
#content .contents >ul > li:nth-child(2){
    background-color: transparent;
}
#content .contents li ul li{
    border-bottom: solid 1px #f8f8f8;
    margin: 0 5%;
}
#content .contents li:nth-child(2) ul li{
    border-bottom: solid 1px #333;
}
#content .contents li ul li:last-child{
    margin-bottom :0;
    border-bottom: solid 1px transparent;
}
#content .contents dl{
    color: #f8f8f8;
}
#content .contents li:nth-child(2) ul dl{
    color: #333;
}
#content .contents dl dt{
    font-size: 1.4em;
    font-weight: 700;
    position: relative;
    margin-bottom: 21px;
}
#content .contents dl dt span{
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 50px;
}
#content .contents dl dd{
    padding-left: 25%;
    margin-bottom: 8px;
}
#content .contents dl dd:last-child{
    margin-bottom: 0;
}