header{
    margin: 100px 0;
}
header h1{
    text-align: center;
}
header h1 a{
    text-indent: -9999px;
    width: 165px;
    height: 39px;
    background: url(../../common/images/header_logo_hover.png) no-repeat center/cover;
    display: inline-block;
}
/* 헤더 영역 끝 */

/* 콘텐츠 영역 */
body{
    background-color: #f8f8f8;
}
#content .sub_cont_wrap{
    font-family: 'Noto Sans KR', sans-serif;
    width: 1000px;
    padding: 50px;
    margin: 0 auto 100px;
    background-color: #fff;
}
#content .sub_cont_wrap h2{
    text-align: center;
    font-size: 3.6em;
}
#content .sub_cont_wrap h2 span{
    display: block;
    color: #999;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 20px;
}
#content .sub_cont_wrap form > ul > li{
    margin-top: 30px;
}
#content .sub_cont_wrap form > ul > li h3{
    font-size: 2.4em;
}
#content .sub_cont_wrap form > ul > li .policy{
    font-size: 1.4em;
    height: 300px;
    overflow-y: scroll;
    border: solid 1px #ccc;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
}
#content .sub_cont_wrap form > ul > li .policy dt{
    font-size: 1rem;
    font-weight: 700;
}
#content .sub_cont_wrap form > ul > li .policy dd{
    padding-left: 20px;
}
#content .sub_cont_wrap form > ul > li .check input{
    display: none;
}
#content .sub_cont_wrap form > ul > li .check label{
    color: #2e90e4;
    font-size: 2em;
    padding-left: 50px;
    position: relative;
}
#content .sub_cont_wrap form > ul > li .check label::before{
    content: '';
    position: absolute;
    width: 29px;
    height: 29px;
    top: 0;
    left: 0;
    background: url(../images/check.jpg) no-repeat center/cover;
}
#content .sub_cont_wrap form > ul > li .check input:checked +  label::before{
    background: url(../images/checked.jpg) no-repeat center/cover;
}
#content .sub_cont_wrap form .button{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}
#content .sub_cont_wrap form .button a{
    background-color: rgb(10,72,155);
    color: #f8f8f8;
    width: 33%;
    padding: 10px 0;
}
#content .sub_cont_wrap form .button button{
    width: 33%;
    color: #f8f8f8;
    border: none;
    background-color: rgb(10,72,155);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
}
