header{
  margin: 100px 0;
}
header h1{
  text-align: center;
}
header h1 a{
  text-indent: -9999px;
  width: 165px;
  height: 39px;
  background: url(../../common/images/header_logo_hover.png) no-repeat center/cover;
  display: inline-block;
}
/* 헤더 공통 */

/* 콘텐츠 영역 */
body{
  background-color: #f8f8f8;
}
#content{
  width: 500px;
  padding: 50px;
  margin: 0 auto 100px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,.2);
}
#content h2{
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}
#content h2 + p{
  color: #999;
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.4em;
}
#content h2 + p span{
  color: red;
}
#content li{
  margin-bottom: 20px;
}
#content dd{
  position: relative;
}
#content dd:nth-of-type(1){
  margin-top: 5px;
}
#content .hp input,
#content .mail input{
  display: inline-block;
  width: auto;
}
#content .mail dd{
  display: flex;
  justify-content: space-between;
  position: relative;
}
#content .mail input{
  width: 45%;
}
#content .mail dd span{
  position: absolute;
  top: 4px;
  right: 50%;
  margin-right: -8px;
  font-size: 2em;
  display: inline-block;
}
#content .hp select{
  margin: 0;
  font-size: 1.6em;
  width: 20%;
}
#content .hp dd{
  display: flex;
  justify-content: space-between;
}
#content .hp input{
  width: 35%;
}
#content .hp strong{
  display: inline-block;
  margin-top: 10px;
}
#content input{
  display: block;
  border: none;
  width: 100%;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  outline: none;
  font-size: 1.6em;
  color: #333;
  font-weight: 500;
  box-shadow: inset 1px 1px 5px 2px rgba(0,0,0,.2);
}
#content input + span{
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 1.4em;
  font-weight: 500
}
#content dt{
  font-size: 2em;
   color: #2e90e4;
}
#content dt span{
  position: relative;
}
#content dt span::after{
  content: '*';
  color: red;
  position: absolute;
  right: -20px;
  top: 4px;
}
#content dt label{
  position: relative;
}
#content dt label::after{
  content: '*';
  color: red;
  position: absolute;
  right: -20px;
  top: 4px;
}
#content dd #loadtext3 span,
#content dd #loadtext4 span{
  display: block;
  padding-left: 5px;
  margin-top: 5px;
  font-size: 1.4em;
}
#content .button{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#content .button a{
  font-size: 2em;
  width: 49%;
  text-align: center;
  padding: 10px 0;
}
#content .button a:first-child{
  background-color: rgb(10,72,155);
  color: #f8f8f8;
}
#content .button a:last-child{
  background-color: #f0f0f0;
  color: #999;
}