#content .contentArea h3{
    font: 700 4em 'Noto Sans KR', sans-serif;
    color: #333;
    position: relative;
}
#content .contentArea ol::after{
    content:'';
    display: block;
    clear: both;
}
#content .contentArea ol li{
    float: left;
    position: relative;
}
#content .contentArea ol div{
    position: absolute;
    left: 0;
    top: 0;
}
#content .contentArea p{
    text-align: center;
}
#content .contentArea h3::before{
    content:'01';
    position: absolute;
    top: -50px;
    left: -40px;
    color: rgba(102,102,102,.1);
    font-size: 80px;
}
#content .contentArea > ol:nth-child(2){
    margin: 100px 0 200px 0;
    position: relative;
    top: 100px;
    opacity: 0;
}
#content .contentArea > ol:nth-child(2).off.onslide{
    top: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea > ol:nth-child(2)::before{
    content: '';
    position: absolute;
    width: 0;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(129,169,221,1) 0%, rgba(108,154,216,1) 25%, rgba(87,140,210,1) 50%, rgba(66,125,204,1) 75%, rgba(45,111,199,1) 100%);;
    left: 100px;
    bottom: -60px;
}
#content .contentArea > ol:nth-child(2).off.onslide::before{
    width: 1000px;
    transition: all 1s 1s;
}
#content .contentArea > ol:nth-child(2) li{
    width: 170px;
    height: 170px;
    text-align: center;
    color: #81a9dd;
    font: 700 2.4em 'Noto Sans KR', sans-serif;
    margin: 0 18px;
    position: relative;
}
#content .contentArea > ol:nth-child(2) li:nth-child(2){
    color:rgba(108,154,216,1)
}
#content .contentArea > ol:nth-child(2) li:nth-child(3){
    color: rgba(87,140,210,1);
}
#content .contentArea > ol:nth-child(2) li:nth-child(4){
    color: rgba(66,125,204,1)
}
#content .contentArea > ol:nth-child(2) li:nth-child(5){
    color: rgba(45,111,199,1)
}
#content .contentArea > ol:nth-child(2) li::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 21px;
    right: -30px;
    top: 50%;
    margin-top: -10.5px;
    background: url(../images/content2/arrow.jpg) no-repeat center center;
}
#content .contentArea > ol:nth-child(2) li:last-child::after{
    display: none;
}
#content .contentArea > ol:nth-child(2) li:first-child{
    margin-left: 100px;
}
#content .contentArea > ol:nth-child(2) li:last-child{
    margin-right: 100px;
}
#content .contentArea > ol:nth-child(2) li span{
    display: block;
    margin: 40px 0 10px 0;
}
#content .contentArea .dev h3{
    position: relative;
    top: 100px;
    opacity: 0;
}
#content .contentArea .dev h3.off.onslide{
    top: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea .dev ul{
    overflow: hidden;
    margin: 50px 0;
    position: relative;
    right: 100px;
    opacity: 0;
}
#content .contentArea .dev ul.off.onslide{
    right: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea .dev ul li{
    float: left;
    position: relative;
}
#content .contentArea .dev ul li img{
    border-radius: 50%;
}
#content .contentArea .dev ul li p{
    position: absolute;
    top: 0;
    left: 0;
    font: 500 2.4em 'Noto Sans KR', sans-serif;
    color: transparent;
    width: 400px;
    line-height: 410px;
    border-radius: 50%;
    transition: all .3s;
}
#content .contentArea .dev ul li p:hover{
    color: #f8f8f8;
    background-color: rgba(0,0,0,.3);
}
#content .contentArea .dev > p{
    font: 700 2.4em 'Noto Sans KR', sans-serif;
    color: #666;
}
#content .contentArea ol:nth-child(4){
    margin: 220px 0 200px 0;
    opacity: 0;
}
#content .contentArea ol:nth-child(4).off.onslide{
    margin-top: 120px;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea ol:nth-child(4) li{
    margin-right: 150px;
}
#content .contentArea ol:nth-child(4) li:last-child{
    margin-right: 0;
}

#content .contentArea ol:nth-child(4) li:nth-child(1) h3::before{
    content:'02'
}
#content .contentArea ol:nth-child(4) li:nth-child(2) h3::before{
    content:'03'
}
#content .contentArea ol:nth-child(4) li:nth-child(3) h3::before{
    content:'04'
}
#content .contentArea ol:nth-child(4) li p{
    font: 700 1.8em 'Noto Sans KR', sans-serif;
    color: #666;
    margin: 30px 0;
}
#content .contentArea .sold{
    position: relative;
    width: 1920px;
    height: 900px;
    left: 50%;
    margin-left: -960px;
    background: url(../images/content2/sub_visual.jpg) no-repeat center center;
    padding-top: 50px;
    box-sizing: border-box;
    margin-bottom: 100px;
    top: 100px;
    opacity: 0;
}
#content .contentArea .sold.off.onslide{
    top: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea .sold h3{
    position: absolute;
    top: -100px;
    left: 360px;
}
#content .contentArea .sold h3::before{
    content: '05';
}
#content .contentArea .sold p{
    font: 700 2.4em 'Noto Sans KR', sans-serif;
    color: #f8f8f8;
}