.subNav ul{
  width: 960px;
  margin: 0 auto;
}
.subNav ul li{
  float: left;
  width: 240px;
  text-align: center;
  border-right: solid 1px #ccc;
  box-sizing: border-box;
}
#content .contentArea .sub2_visual{
  width: 1400px;
  position: relative;
  left: 50%;
  margin: 200px 0 0 -700px;
  opacity: 0;
}
#content .contentArea .sub2_visual.off.onslide{
  margin-top: 100px;
  opacity: 1;
  transition: all 1s;
}
