#content .contentArea h3{
    font: 700 4em 'Noto Sans KR', sans-serif;
    color: #333;
}
#content .contentArea p{
    font: 700 2em 'Noto Sans KR', sans-serif;
    color: #666;
}
#content .contentArea .symbol{
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/content4/grid_back.png);
    margin: 200px 0 200px 0;
    opacity: 0;
}
#content .contentArea .symbol.off.onslide{
    margin-top: 100px;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea .symbol img{
    margin: 70px 0;
    width: 180px;
    height: 180px;
}
#content .contentArea .symbol p:nth-child(3){
    margin-bottom: 30px;
}
#content .contentArea .tabMenu{
    position: relative;
    height: 645px;
    overflow :hidden;
}
#content .contentArea #grid,
#content .contentArea #symbolColor{
    padding: 60px 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 171px;
    opacity: 0;
}
#content .contentArea #grid.off.onslide,
#content .contentArea #symbolColor.off.onslide{
    top: 71px;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea #symbolColor{
    left: 1200px;
}
#content .contentArea .tabMenu > img{
    position: absolute;
    left: 50%;
    margin-left: -108.5px;
    bottom: 104px;
    opacity: 0;
}
#content .contentArea .tabMenu > img.off.onslide{
    bottom: 204px;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea .tabMenu > ul{
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    opacity: 0;
}
#content .contentArea .tabMenu > ul.off.onslide{
    top: 0;
    opacity: 1;
    transition: all .5s;
}
#content .contentArea .tabMenu > ul li{
    float: left;
}
#content .contentArea .tabMenu > ul li:first-child{
    margin-right: 100px;
}
#content .contentArea .tabMenu a{
    display: inline-block;
    width: 200px;
    padding: 20px 0;
    border: solid 1px #ccc;
    box-sizing: border-box;
    transition: all .3s;
    font: 700 2em 'Noto Sans KR', sans-serif;
    color: #ccc;
    text-align: center;
}
#content .contentArea .tabMenu a:hover,
#content .contentArea .tabMenu a.current{
    border: solid 1px rgb(10,72,155);
    color: rgb(10,72,155);
}
#content .contentArea #grid{
    background: url(../images/content4/grid.png) no-repeat center center;
}
#content .contentArea #grid p:nth-child(2){
    margin-bottom: 337px;
}
#content .contentArea #grid img{
    margin: 60px 0;
}
#content .contentArea #symbolColor ul{
    overflow: hidden;
    margin: 60px 0;
    padding: 0 200px;
}
#content .contentArea #symbolColor li{
    float: left;
}
#content .contentArea #symbolColor ul li:nth-child(2){
    float: right;
}
#content .contentArea > p{
    line-height: 36px;
    margin: 150px 0 90px 0;
    opacity: 0;
}
#content .contentArea > p.off.onslide{
    margin-top: 50px;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea > h3{
    margin-top: 140px;
    opacity: 0;
}
#content .contentArea > h3.off.onslide{
    margin-top: 40px;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea > ul li{
    margin-bottom: 100px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    padding: 40px 0;
    position: relative;
    top: 100px;
    opacity: 0;
}
#content .contentArea > ul li.off.onslide{
    top: 0;
    opacity: 1;
    transition: all 1s;
}
#content .contentArea > ul .high img:first-child{
    margin: 0 220px 0 210px;
}
#content .contentArea > ul .side img:first-child{
    margin: 0 180px 0 90px;
}

